@font-face {
  font-family: "Manrope";
  src: url("../src/fonts/Manrope-SemiBold.woff2") format("woff2"),
    url("../src/fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../src/fonts/Manrope-Regular.woff2") format("woff2"),
    url("../src/fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../src/fonts/Manrope-Medium.woff2") format("woff2"),
    url("../src/fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../src/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../src/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../src/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../src/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../src/fonts/Inter-Medium.woff2") format("woff2"),
    url("../src/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --animation-hover: all 400ms ease;
  --header-bgColor: #21d4fd;
  --header-bgImage: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  --white-color: white;
  --backdrop-color: rgba(18, 20, 23, 0.5);
  --dark-color: #121417;
  --accent-color: #3470ff;
  --btn-hover: #224bac;
  --heart-red: #a72f2f;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-tj5bde-Svg {
  fill: #121417;
}

.css-1jqq78o-placeholder {
  color: #121417!important;
}
